.header {
    font-size: 20px;
}
.box {
    height: 50px;
    width: 150px;
    margin-bottom: 20px;
    text-align: center;
    line-height: 50px;
    background-color: #fdf5e6;
    border: 4px double black;
}
.boxSelected {
    background-color: #ffdab9;
    border: 4px solid black;
}